body{
    background-color: #062c2d;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100%;
    margin: auto;
}

.container #logo{
    margin: 15px;
    margin-top:1px;
    width: 250px;
    height: 99px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.header {

    display: flex;
    background-color: #185759;
    width: 100%;
    height: 100px;
   


}



.navbar{
    display: flex;
    flex-direction: row-reverse;
    width: 285px;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-right: 25px;
  
}

.header .container{
    justify-content: space-between;
}


.botao_home{
    display: flex;
    padding: 5px;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.botao_home:hover{
 
    color: #512ba5;
    transition: 0.5s;
}

.botao_cadastro{
    display: flex;
    padding: 5px;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.botao_cadastro:hover{
 
    color: #512ba5;
    transition: 0.5s;
}

.botao_calculadora{
    display: flex;
    padding: 5px;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.botao_calculadora:hover{
 
    color: #512ba5;
    transition: 0.5s;
}


.botao_login{
    display: flex;
    padding: 5px;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.botao_login:hover{
 
    color: #512ba5;
    transition: 0.5s;
}



.container{

    display: flex;
    justify-content: space-around;
   

}


.container .frase1{

    margin-left: 45px;
    color: #F1D7FF;
    font-size: 2.5vmax;
    margin-top: 25px;

}


.banner{
    display: flex;

    background-image: url(../assets_adocao/img10.webp);
    background-size: cover;
    border-radius: 25px;
    opacity: 1;
    width: 650px;
    height: 453px;
    margin-top: 45px;
    
    

}





/*Fim da Header*/

.conxteto{

    display: flex;
    width: 100%;
    height: 1000px;
    margin: 10px;
    margin-bottom: 350px;
    margin-right: 450px;

}


.banner .container1{

    display: flex;
    width: 100%;
    justify-content: center;


}

.container1{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 85px;
}

.titulo_contexto{

    font-family: 'math';
    font-size: 2.5vmax;
    color: #fff;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 550px;
    overflow-wrap: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-left: 25px;

   

}

.texto{

    font-family:Georgia, monospace;
    font-size: 1.7vmax;
    color: #fff;
    width: 500px;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25px;


}

.texto1{

    display: flex;
    flex-direction: row;
    justify-content: end;

    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7vmax;
    color: #F1D7FF;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
   


}



/*SAIBA MAIS*/

.contexto2{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 450px;
    background: rgb(192, 164, 251) transparent;
    background: rgba(192, 164, 251, 0.8);
    


}

.saiba_mais{

    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vmax;
    margin-top: 150px;
    justify-content: space-between;

}

.titulo_saiba_mais{

    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vmax;
    color: #fff;
    margin-top: 150px;
    text-align: center;

}

.texto2{

    font-family: 'Courier New', Courier, monospace;
    font-size: 1vmax;
    color: #fff;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align:center;

}


.texto3{

    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vmax;
    color: #fff;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;

}

.texto4{

    font-family: 'Courier New', Courier, monospace;
    font-size: 1vmax;
    color: #fff;
    width: 750px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

.botao_saiba_mais{
    background-color: #C0A4FB;
    color: #38363e;
    display: block;
    text-decoration: none;
    margin: 0 8px 0 8px;
    font-size: 21px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
  }
  
  .botao_saiba_mais :hover {
    background-color: #38363e;
    color: #512ba5;
    width: 100%;
    text-align: center;
    border-radius: 20px;
  }



